*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222222;
    font-family: Arial;
}
a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background: linear-gradient(45deg, #00DBDE, #FC00FF);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #000;
    font-size: 1.2em;
    transition: 0.4s;
    overflow: hidden;
}
a::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 16px;
    background-color: rgba(255,255,255,0.4);
    transform: rotate(70deg) translateY(100px);
    filter: blur(5px);
    transition: 0.4s;
}
a:hover{
    letter-spacing: 1.5px;
    box-shadow: 0 0 20px 4px #000;
    transition: 0.4s;
}

a:hover::before{
    transform: rotate(70deg) translateY(-100px);
    transition: 0.4s;

}